.App {
  text-align: center;
  background-color: #282c34;
  width: 340px;
  height: 500px;
  padding: 10px;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-body button {
  margin-top: 20px;
  padding: 12px;
  width: 70%;
}